{% extends 'Base.html' %}
{% load staticfiles %}

{% block page_css %}
{% endblock %}
{% block content%}
<div class="toolbar">
    <div class="toolbar__label"><span class="hidden-xs-down">{{ current_community_name }}</span></div>
    <div class="actions">
        update time <h5 id="moose_updatetime">{{ moose_time }}</h5>
    </div>
</div>
    <input type="hidden" id="cid" value="{{ cid }}">
<div class="row quick-stats">
    <div class="col-sm-6 col-md-4">
        <div class="quick-stats__item">
            <div class="quick-stats__info">
                <h2>File Number</h2>
                <small>Total files</small>
            </div>

            <div class="quick-stats__chart peity-bar" style="padding-left: 30px"><h1 id="moose_foc">{{ oss_statistic.foc }}</h1></div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="quick-stats__item">
            <div class="quick-stats__info">
                <h2>Deveploper Number</h2>
                <small>Total developers</small>
            </div>

            <div class="quick-stats__chart peity-bar" style="padding-left: 30px"><h1 id="moose_doc">{{ oss_statistic.doc }}</h1></div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="quick-stats__item">
            <div class="quick-stats__info">
                <h2>Commit Number</h2>
                <small>Total commits</small>
            </div>

            <div class="quick-stats__chart peity-bar" style="padding-left: 30px"><h1 id="moose_coc">{{ oss_statistic.coc }}</h1></div>
        </div>
    </div>
</div>
<div class="card">
    <div class="toolbar toolbar--inner">
        <div class="toolbar__label">Health Score</div>
    </div>
    <div class="progress blue">
        <h3 class="progress-title">Score</h3>
        <div class="progress-bar" style="width:62.4%; background:#1CDDB1;">
            <div class="progress-value">63.4</div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div id="container_score" style="height: 100%;width: 100%;margin-top: -100px;padding-left: 30px"></div>
        </div>
        <div class="col-lg-6">
            <div class="table-responsive">
                <table class="table mb-3">
                    <thead class="thead-inverse">
                    <tr>
                        <th>oss name</th>
                        <th>DA</th>
                        <th>CA</th>
                        <th>At</th>
                        <th>DD</th>
                        <th>PS</th>
                        <th>DE</th>
                        <th>score</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if oss_list %}
                        {% for per_oss_list in oss_list %}
                        <tr>
                            <td>{{ per_oss_list.oss_fullname }}</td>
                            <td>{{ per_oss_list.f1 }}</td>
                            <td>{{ per_oss_list.f2 }}</td>
                            <td>{{ per_oss_list.f3 }}</td>
                            <td>{{ per_oss_list.f4 }}</td>
                            <td>{{ per_oss_list.f5 }}</td>
                            <td>{{ per_oss_list.f6 }}</td>
                            <td style="font-size: 16pt">{{ per_oss_list.score }}</td>
                        </tr>

                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <input type="hidden" id="oss_name" value="{{ oss_name }}">
        <input type="hidden" id="oss_score" value="{{ oss_score }}">

    </div>
</div>
<div class="card">
    <div class="toolbar toolbar--inner">
        <div class="toolbar__label">Popularity</div>
    </div>
    <div class="card-body" style="padding-right: 0px">
        <div id="container_sem" style="height: 600px"></div>
        <input type="hidden" id="oss_popularity_sem" value="{{ popularity }}">
        <input type="hidden" id="oss_ncdpr_sem" value="{{ oss_statistic.core_pull_count }}">
        <input type="hidden" id="oss_ncdic_sem" value="{{ oss_statistic.core_issue_comment_count }}">
        <input type="hidden" id="oss_ncdcc_sem" value="{{ oss_statistic.core_commit_comment_count }}">
        <input type="hidden" id="oss_ncdrc_sem" value="{{ oss_statistic.core_review_comment_count }}">
        <input type="hidden" id="oss_ncdr_sem" value="{{ oss_statistic.core_review_count }}">
        <input type="hidden" id="oss_npr_sem" value="{{ pulls_count }}">
        <input type="hidden" id="oss_nprc_sem" value="{{ oss_statistic.pull_comment_count }}">
        <input type="hidden" id="oss_prrr_sem" value="{{ pulls_review }}">
        <input type="hidden" id="oss_nprrc_sem" value="{{ oss_statistic.pull_review_comment_count }}">
        <input type="hidden" id="oss_nic_sem" value="{{ oss_statistic.issue_comment_count }}">
        <input type="hidden" id="oss_ncd_sem" value="{{ oss_statistic.core_developer_count }}">
        <input type="hidden" id="oss_ncc_sem" value="{{ oss_statistic.commit_comment_count }}">
        <input type="hidden" id="oss_ni_sem" value="{{ issue_count }}">
        <input type="hidden" id="oss_nl_sem" value="{{ oss_statistic.language_count }}">
        <input type="hidden" id="oss_icr_sem" value="{{ issue_closed }}">
        <input type="hidden" id="oss_prmr_sem" value="{{ pull_merged }}">
        <input type="hidden" id="oss_nd_sem" value="{{ oss_statistic.doc }}">
    </div>
</div>
<div class="card">
    <div class="toolbar toolbar--inner">
        <div class="toolbar__label">{{ oss_list_count }} Repositories</div>
    </div>
    <div class="listview listview--bordered q-a">
        {% if oss_list %}
            {% for per_oss_list in oss_list %}
                <div class="listview__item q-a__item">
                    <div class="q-a__stat hidden-sm-down">
                        <span>
                            <strong>{{ per_oss_list.oss_file_count }}</strong>
                            <small>Files</small>
                        </span>

                        <span class="hidden-md-down">
                            <strong>{{ per_oss_list.oss_developer_count }}</strong>
                            <small>Developers</small>
                        </span>
                        <span>
                            <strong>{{ per_oss_list.oss_commit_count }}</strong>
                            <small>Commits</small>
                        </span>
                    </div>
                    <div class="listview__content">
                        <a href="questions-answers-details.html" class="listview__heading">{{ per_oss_list.oss_fullname }}</a>
                        <p>{{ per_oss_list.oss_description }}</p>
                        <div class="listview__attrs">
                            <span>{{ per_oss_list.oss_main_language }}</span>
                            <span>{{ per_oss_list.oss_license }}</span>
                            <span>{{ per_oss_list.oss_create_time }} created</span>
                            <span>{{ per_oss_list.oss_lastupdate_time }} updated</span>
                            <span>{{ per_oss_list.oss_homepage }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="card">
            <div class="stats-3-block block d-flex">
                <div class="stats-3" style="padding-top: 15px;padding-left: 20px"><strong class="d-block" id="moose_issue_count">{{ oss_statistic.issue_count }}</strong><span class="d-block">Total Issues</span>
                </div>
                <div class="stats-3 d-flex justify-content-between text-center">
                        <div class="item"><strong class="d-block strong-sm" id="moose_issue_close_count">{{ oss_statistic.issue_close_count }}</strong><span class="d-block span-sm">closed issue</span>
                          <div class="line"></div><small>+1</small>
                        </div>
                        <div class="item"><strong class="d-block strong-sm" id="moose_issue_open">{{ issue_open }}</strong><span class="d-block span-sm">open issue</span>
                          <div class="line"></div><small>+1</small>
                        </div>
                      </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="stats-3-block block d-flex">
                <div class="stats-3" style="padding-top: 15px;padding-left: 20px"><strong class="d-block" id="moose_pull_count">{{ oss_statistic.pull_count }}</strong><span class="d-block">Total pr</span>
                </div>
                <div class="stats-3 d-flex justify-content-between text-center">
                        <div class="item"><strong class="d-block strong-sm" id="moose_pull_merged_count">{{ oss_statistic.pull_merged_count }}</strong><span class="d-block span-sm">merged pr</span>
                          <div class="line"></div><small>+1</small>
                        </div>
                        <div class="item"><strong class="d-block strong-sm" id="moose_pull_unmerged_count">{{ pulls_unmerged }}</strong><span class="d-block span-sm">unmerged pr</span>
                          <div class="line"></div><small>+1</small>
                        </div>
                      </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="stats-3-block block d-flex">
                <div class="stats-3" style="padding-top: 15px;padding-left: 20px"><strong class="d-block" id="moose_popularity">{{ popularity }}</strong><span class="d-block">Popularity</span>
                </div>
                <div class="stats-3 d-flex justify-content-between text-center">
                        <div class="item"><strong class="d-block strong-sm" id="moose_star_count">{{ oss_statistic.star_count }}</strong><span class="d-block span-sm">star</span>
                          <div class="line"></div><small>+1</small>
                        </div>
                        <div class="item"><strong class="d-block strong-sm" id="moose_fork_count">{{  oss_statistic.fork_count}}</strong><span class="d-block span-sm">fork</span>
                          <div class="line"></div><small>+1</small>
                        </div>
                      </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="stats-3-block block d-flex">
                <div class="item" style="width: 33%;text-align: center"><strong class="d-block strong-sm" id="moose_issue_comment_count">{{ oss_statistic.issue_comment_count }}</strong><span class="d-block span-sm">issue comment count</span>
                  <div class="line"></div><small>+1</small>
                </div>
                <div class="item" style="width: 33%;text-align: center"><strong class="d-block strong-sm" id="moose_pull_comment_count">{{ oss_statistic.pull_comment_count }}</strong><span class="d-block span-sm">pr comment count</span>
                  <div class="line"></div><small>+1</small>
                </div>
                <div class="item" style="width: 33%;text-align: center"><strong class="d-block strong-sm" id="moose_review_comment_count">{{ oss_statistic.pull_review_comment_count }}</strong><span class="d-block span-sm">pr review comment count</span>
                  <div class="line"></div><small>+1</small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="stats-3-block block d-flex">
                    <div class="item" style="width: 33%;text-align: center"><strong class="d-block strong-sm" id="moose_pull_review_count">{{ oss_statistic.pull_review_count }}</strong><span class="d-block span-sm">pr review count</span>
                      <div class="line"></div><small>+1</small>
                    </div>
                    <div class="item" style="width: 33%;text-align: center"><strong class="d-block strong-sm" id="moose_issue_close_time">{{ oss_statistic.issue_close_time }}</strong><span class="d-block span-sm">issue close time</span>
                      <div class="line"></div><small>+1</small>
                    </div>
                    <div class="item" style="width: 33%;text-align: center"><strong class="d-block strong-sm" id="moose_pull_merged_time">{{ oss_statistic.pull_merged_time }}</strong><span class="d-block span-sm">pull merged time</span>
                      <div class="line"></div><small>+1</small>
                    </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card widget-pie">
            <div class="col-6 col-sm-4 col-md-6 col-lg-4 widget-pie__item">
                <div class="easy-pie-chart" data-percent="{{ issue_closed }}" data-size="80" data-track-color="rgba(0,0,0,0.5)" data-bar-color="#fff">
                    <span class="easy-pie-chart__value" id="moose_issue_closed">{{ issue_closed }}</span>
                </div>
                <div class="widget-pie__title">Issues<br> closed</div>
            </div>

            <div class="col-6 col-sm-4 col-md-6 col-lg-4 widget-pie__item">
                <div class="easy-pie-chart" data-percent="{{ pull_merged }}" data-size="80" data-track-color="rgba(0,0,0,0.35)" data-bar-color="#fff">
                    <span class="easy-pie-chart__value" id="moose_pull_merged">{{ pull_merged }}</span>
                </div>
                <div class="widget-pie__title">Pulls<br> Merged</div>
            </div>

            <div class="col-6 col-sm-4 col-md-6 col-lg-4 widget-pie__item">
                <div class="easy-pie-chart" data-percent="{{ developer_core }}" data-size="80" data-track-color="rgba(0,0,0,0.35)" data-bar-color="#fff">
                    <span class="easy-pie-chart__value" id="moose_developer_core">{{ developer_core }}</span>
                </div>
                <div class="widget-pie__title">Core<br> Developers</div>
            </div>

            <div class="col-6 col-sm-4 col-md-6 col-lg-4 widget-pie__item">
                <div class="easy-pie-chart" data-percent="{{ core_issue }}" data-size="80" data-track-color="rgba(0,0,0,0.35)" data-bar-color="#fff">
                    <span class="easy-pie-chart__value" id="moose_core_issue">{{ core_issue }}</span>
                </div>
                <div class="widget-pie__title">Issues of<br>Core Developers</div>
            </div>

            <div class="col-6 col-sm-4 col-md-6 col-lg-4 widget-pie__item">
                <div class="easy-pie-chart" data-percent="{{ core_pull }}" data-size="80" data-track-color="rgba(0,0,0,0.35)" data-bar-color="#fff">
                    <span class="easy-pie-chart__value" id="moose_core_pull">{{ core_pull }}</span>
                </div>
                <div class="widget-pie__title">Pulls of<br>Core Developers</div>
            </div>

            <div class="col-6 col-sm-4 col-md-6 col-lg-4 widget-pie__item">
                <div class="easy-pie-chart" data-percent="{{ active_day }}" data-size="80" data-track-color="rgba(0,0,0,0.35)" data-bar-color="#fff">
                    <span class="easy-pie-chart__value" id="moose_active_day">{{ active_day }}</span>
                </div>
                <div class="widget-pie__title">Active<br> days</div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Language</h4>
                <input type="hidden"  id="bar_language_data" value="{{ bar_language_data }}">
                <input type="hidden"  id="bar_language_arr" value="{{ bar_language_arr }}">
                <div id="container_language" style="height: 280px;margin-left: -10px;margin-right:-70px;margin-top: -50px"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Event</h4>
                <div class="table-responsive">
                    <table class="table mb-3">
                        <thead class="thead-inverse">
                        <tr>
                            <th id="moose_event_name">event name</th>
                            <th id="moose_event_ossname">oss name</th>
                            <th id="moose_event_action">action</th>
                            <th id="moose_event_name">event time</th>
                        </tr>
                        </thead>
                        <tbody id="event_body">
                        {% if event %}
                            {% for per_event in event %}
                                <tr>
                                    <td>{{ per_event.event_type }}</td>
                                    <td>{{ per_event.event_name }}</td>
                                    <td>{{ per_event.event_action }}</td>
                                    <td>{{ per_event.event_time }}</td>
                                </tr>
                            {% endfor %}
                    {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body" style="padding-right: 0px">
                <h4 class="card-title">Popularity</h4>
                <input type="hidden" id="line_pop_data" value="{{ line_pop_data }}">
                <input type="hidden" id="line_fork_data" value="{{ line_fork_data }}">
                <input type="hidden" id="line_pop_arr" value="{{ line_pop_arr }}">
                <input type="hidden" id="line_star_data" value="{{ line_star_data }}">

                <div id="container_pop" style="height: 480px;margin-left: -60px;margin-right:-60px;margin-top: -50px"></div>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="toolbar toolbar--inner">
            <div class="toolbar__label">Wordcloud</div>
    </div>
    <div class="card-body">
        <img style="width:100%;" src="{% static 'img/ciyun.png' %}">
    </div>
</div>
<div class="card">
    <div class="toolbar toolbar--inner">
            <div class="toolbar__label">Developer Net</div>
            <input type="hidden" id="net_categories" value="{{ categories }}">
            <input type="hidden"  id="net_nodes" value="{{ nodes }}">
            <input type="hidden" id="net_links" value="{{ links }}">
    </div>
    <div class="card-body">
            <div id="container_net" style="height: 500px;margin-left: -100px;margin-right:-100px;margin-top: -20px"></div>
        </div>
</div>
<div class="card">
    <div class="toolbar toolbar--inner">
        <div class="toolbar__label">Tag</div>
    </div>
    <div class="card-body">
        <div class="todo__labels">
            {% if tag %}
            {% for per_tag in tag %}
                 <a href="">#{{ per_tag.topic }}</a>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
{% block page_js %}
    <script src="{% static 'js/appjs/overview.js' %}"></script>
{% endblock %}